{#-

This file is part of Polesian Archive.

Copyright (c) Institute of Slavic Studies of the Russian Academy of Sciences

Polesian Archive is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Polesian Archive is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. If you have not received
a copy of the GNU General Public License along with Polesian Archive,
see <http://www.gnu.org/licenses/>.

-#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/polesian-program/index') }}
{% endblock %}

{% block page_content %}
    {% import 'polesian_program/program.html.twig' as program_formatter %}

    {% for section in sections %}
        <div class="pa-polesian-program-row pa-section-row">{{ section.name }}</div>

        {% for program in section.programs %}
            {{ program_formatter.format_program(program) }}
        {% endfor %}
    {% endfor %}
{% endblock %}
